name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install flake8 pytest

    - name: Lint with flake8
      run: |
        flake8 .

    - name: Run unit tests
      run: |
        pytest || echo "No tests found"

    - name: Run Simple Interest Script
      run: |
        chmod +x simple-interest.sh
        ./simple-interest.sh 1000 5 2
